# Compiled source #
###################
*.com
*.class
*.dll
*.exe
*.o
*.so

# Packages #
############
# it's better to unpack these files and commit the raw source
# git has its own built in compression methods
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# Logs and databases #
######################
*.log

# Generated Folders  #
######################
target/
node_modules/

# Eclipse Crap       #
######################
.settings/
.project
/build/
/6859b71c947458bf1a511a03b0b5e242.png
