/* Top Nav coloring */
.navbar-default {
  background-color: white;
  background-image: none;
  background-repeat: no-repeat;
}

/** Logo styling **/
.navbar-brand {
  display: flex;
  align-items: center;
}

div.container {
  width: 100%;
  padding: 0;
  margin: 0;
}

.nav_left_pad {
    width: 57%;
    display: inline-block;
    align-content: center;
}

.nav_right_pad {
    width: 40%;
    display: inline-block;
    align-content: center;
}

/* Handles when we're not hovering over link */
.dropdown .dropdown-menu {
  display: none;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

